<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <description/>
        <display-name>LsJsServlet</display-name>
        <servlet-name>LsJsServlet</servlet-name>
        <servlet-class>org.dojotoolkit.lsjs.LsJsServlet</servlet-class>
    </servlet>
	<filter>
	   <filter-name>CORSFilter</filter-name>
	   <filter-class>org.dojotoolkit.lsjs.CORSFilter</filter-class>
	</filter>
    <servlet-mapping>
        <servlet-name>LsJsServlet</servlet-name>
        <url-pattern>/checktimestamps/*</url-pattern>
    </servlet-mapping>
	<filter-mapping>
	   <filter-name>CORSFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
